
<div class="container-fluid">
    <div class="row header-section">
        <span>Form Two</span>
    </div>
   
  
        <div class="row card">
            <!-- <h3>{{data}}</h3>  -->
   <form [formGroup]="userForm" (ngSubmit)="submit()">

    <div class="scrollbar">
        <div>
          <button (click)="onClick()" class=" not">Notifications</button>
        <div>
       
        <div *ngFor="let not of result.responseObject">
          <!-- {{not | json}} -->
          <table>
            <tr>
                <th>Job Title</th>
                <th>Job Overview</th>
                <th>Experience</th>
                <th>Requestor Department</th>
                <th>Requestor Id</th>
                <th>Requestor PU or BU</th>
                <th>Skills Required</th>

            </tr>
            <tr>
              <td>{{not.jobTitle}}</td>
              <td>{{not.jobOverview}}</td>
              <td>{{not.experience}}</td>
              <td>{{not.skillsRequired}}</td>
              <td>{{not.requestorId}}</td>
              <td>{{not.requestorPUBU}}</td>
              <td>{{not.requestorDepartment}}</td>
              
            </tr>
          </table>
      </div> 
   </div>
  </div>
  </div> 


  
    
  
  
    <div class="row">

        <div class="col-md-8">
            <h4>Job Description Details</h4>

             <!-- <div class="row card1"> -->
          
  
           
           
           
        <table>
        <tr>
            <td><label> Job Title</label></td>
            <td><input type="text" formControlName="jobTitle"></td>
        </tr>
        <br>
        <tr>
          <td><label> Job Overview</label></td>
          <td><input type="text" formControlName="jobOverview"></td>
      </tr>
      <br>
        <tr>
            <td><label> Vacancies</label></td>
            <td><input type="number" formControlName="resourcesNeeded"></td>
        </tr>
        <br>
       
      
        <tr>
              <td><label>Skills</label></td>
              <td><textarea cols="82" rows="10" formControlName="skillsRequired"></textarea></td>
        </tr>
    
        <br>
        
            
        <tr>
          <td><label>Criteria</label></td>
          <td><textarea cols="82" rows="10" formControlName="criteria"></textarea></td>
    </tr>
  
    <br>
         <tr>
                <td><label>Requestor's Id</label></td>
                <td><input type="text" formControlName="requestorId"></td>
            </tr>
            <br>
            <tr>
                <td><label>Requestor's Units</label></td>
                <td> <select id="units"  formControlName="requestorPUBU">
                    <option value="no value">select</option>
                    <option value="PU">PU</option>
                    <option value="BU">BU</option>
                    </select></td>
            </tr>
            <br>
            <tr>
                <td><label>Requestor's Department</label></td>
                <td><input type="text" formControlName="requestorDepartment"></td>
            </tr>
            <br>
    
     
    </table>
  
    </div>
   
     <!-- </div>  -->
    </div>  
  <div class="col-sm-5" style="float:right;text-align: center;"><button type="submit" class="btn btn-success" >Publish</button></div>
  <br>
  <br>
  
  <br>
  <br>

  
  
 
  
  </form>
  </div>
  </div>
  
  